<div style="display: grid; grid-auto-columns: 100px 1fr; gap: 1rem;grid-auto-flow: column;">
    <figure style="width: 80px; height: 80px; background-color: lightgrey;">
        {% if image is defined %}
            {{ contao_figure(image, [80, 80, 'center_top']) }}
        {% endif %}
    </figure>
    <div>
        {{ lastname }}, {{ firstname }}<br>
        {% if function is defined and function is not empty %}
            <small>{{ function }}</small>
        {% endif %}
        {% if phone is defined and phone is not empty %}
            <a href="tel:{{ phone }}">{{ phone }}</a>
        {% endif %}
        {% if email is defined and email is not empty %}
            <a href="mailto:{{ email }}">{{ email }}</a>
        {% endif %}
    </div>
</div>